* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}
.logo a {
    text-decoration: none;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
    
    font-weight: 500;
    font-size: 2rem;
}
#movie_name__search {
    font-size: 1.20rem;
    border-radius: .50rem;
    background-color: #fff;
    outline: none;
}
.main {
    max-width: 1300px;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
    justify-content: center;
}

.movie_item {
    margin: 2rem;
    width: 15rem;

    background-color: #fff;
    position: relative;
    text-align: left;
    line-height: 1.50rem;
    position: relative;
    background-color: transparent;
    
}
.movie_poster {
    height: 20rem;
    background-color: red;
}
.movie_rate {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 1rem;
    left: 1rem;
    padding: 1.60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
}
.yellow {
    border: .13rem solid yellow;
}
.green {
    border: .13rem solid green;
}
.red {
    border: .13rem solid red;
}
.movie_image {
    height: 100%;
    width: 100%;
}

.movie_info {
    margin-top: 1rem;
}

.movie_info__heading{
    color: white;
    font-size: 1rem;
}

.movie_info__genre {
    color: rgb(235, 201, 11);
    font-size: .90rem;
}
.test {
    color: white;
}